﻿main {
    .mobile-view {
        background: #65dbdb;
        display: none;

        .create-account {
            color: #fff;
        }

        @media (max-width: 767px) {
            display: block;
        }
    }

    .background-wrapper {
        height: 620px;
        background-image: url(../img/bg/yourwebsingles-bg.jpg);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: 768px) {
            background-position: 35% bottom;
        }

        nav {
            &.navbar {
                .navbar-brand {
                    img {
                        width: 220px;
                        object-fit: cover;
                    }
                }
            }
        }

        #main-content {
            .yourwebisngles-content {
                h1.welcome {
                    font-size: 1.3em;
                    font-weight: 300;
                    color: #456161;

                    @media (min-width: 576px) {
                        font-size: 1.5em;
                    }
                }

                h2.findlove {
                    width: 75%;
                    line-height: 1;
                    font-size: 2.4em;
                    color: #336868;
                    font-weight: 400;

                    @media (min-width: 576px) {
                        width: 100%;
                        font-size: 3.5em;
                    }

                    @media (max-width: 576px) {
                        width: 100%;
                    }
                }

                p {
                    color: #336868;
                }

                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        margin: 11px 0;
                        position: relative;
                        padding-left: 40px;

                        h3 {
                            font-size: 1em;
                            color: #136464;
                        }

                        &::before {
                            top: 0;
                            left: 0;
                            content: "";
                            width: 28px;
                            height: 28px;
                            position: absolute;
                            display: inline-block;
                            background-size: cover;
                            background-image: url(../img/heart-icon.png);
                        }
                    }
                }
            }
        }
    }

    .about-yourwebsingles {
        background-image: url(../img/bg/yourwebsingles-bg1.jpg);
        background-position: center left;
        background-repeat: repeat-y;
        background-size: cover;
        padding: 1.8em 0;

        h4 {
            margin: 0;
            color: #064141;
            font-size: 1.4em;
            font-weight: 300;
        }
    }

    .feature-wrapper {
        padding: 5em 0 7em;
        border-top: 3px solid rgba(100, 202, 201, 0.82);
        border-bottom: 3px solid rgba(100, 202, 201, 0.82);

        .feature-title {
            font-size: 2em;
            color: #168a8a;
            padding-bottom: 1.5em;
        }

        .feature {
            /*max-width: 280px;*/
            img {
                width: 180px;
            }

            p {
                margin-top: 20px;
                font-size: 18px;
                font-weight: 400;
                color: #0a6f6f;
            }
        }

        p.yourwebsingles {
            font-size: 1.5em;
            font-weight: 300;
            text-align: center;
        }
    }
}


footer {
    .footer-links {
        padding: 5em 0;
        background-color: #2f9090;

        .container {
            .row {
                a {
                    color: #fff;
                    font-size: 1em;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }

    .footer-socials {
        padding: 1em 0;
        background-color: #042525;

        #yourwebsingles-footer {
            display: inline-block;
            position: relative;
            text-align: center;
            width: 200px;

            .yws-circle {
                left: calc(50% - 40px);
                background: #662e91;
                border-radius: 50%;
                position: absolute;
                height: 80px;
                width: 80px;
                z-index: 1;
                top: -3px;
            }

            .yws-text {
                margin: 0;
                z-index: 2;
                color: #fff;
                padding: 20px 0;
                font-size: 20px;
                position: relative;
                font-weight: 300;

                .yws-www {
                    letter-spacing: 3px;
                    color: #c275fd;
                }

                .yws-singles {
                    letter-spacing: -1px;
                    color: #c275fd;
                }
            }
        }

        .social-links {
            height: 100%;
            display: block;
            padding: 10px 0;

            a {
                text-decoration: none;
                font-size: 2.2em;
                padding: 0 14px;
                color: #fff;
            }
        }
    }
}