﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - yourweb.singles</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/main.min.css" />
</head>
<body>
    @RenderBody()

    <footer>
        <div class="footer-links">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="d-block w-100 py-2">Home</a>
                        <a href="#" class="d-block w-100 py-2">About Us</a>
                        <a href="#" class="d-block w-100 py-2">Follow</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="d-block w-100 py-2">Invest With Us</a>
                        <a href="#" class="d-block w-100 py-2">Partner With Us</a>
                        <a href="#" class="d-block w-100 py-2">Advertise With Us</a>
                        <a href="#" class="d-block w-100 py-2">Help & Support</a>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-socials">
            <div class="container py-2 text-center text-md-left">
                <div class="row mt-4 mt-md-0">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div id="yourwebsingles-footer">
                            <div class="yws-circle"></div>
                            <label class="yws-text">
                                <span class="yws-www">www.</span><span class="yws-yourweb">yourweb</span><span class="yws-singles">.singles</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 clearfix">
                        <div class="social-links float-md-right">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
