﻿@{
    ViewData["Title"] = "Find Love & Friends Online";
}

<main>
    <div class="w-100 px-3 py-2 mobile-view">
        <div class="d-flex justify-content-between">
            <a asp-controller="Account" asp-action="CreateAccount" class="create-account">Create Account</a>
            <a asp-controller="Account" asp-action="Login" class="btn bt-sm btn-outline-info px-4 py-0 border-light text-light">Log In</a>
        </div>
    </div>
    <div class="background-wrapper">
        <nav class="navbar navbar-expand-lg">
            <div class="container pt-4">
                <div class="col-md-6">
                    <a class="navbar-brand w-100 text-center text-md-left m-0" asp-action="Index" asp-controller="Home">
                        <img src="~/img/yourwebsingles.png" alt="yourweb.singles logo" />
                    </a>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-inline float-right">
                        <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-outline-light px-4 py-2">Create Account</a>
                        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-light px-4 py-2">Log In</a>
                    </div>
                </div>
            </div>
        </nav>

        <div id="main-content">
            <div class="container">
                <div class="row pt-5 mt-lg-5">
                    <div class="col-md-8 yourwebisngles-content">
                        <h1 class="welcome pb-1">
                            Welcome to <strong>yourweb.singles</strong>
                        </h1>
                        <h2 class="findlove mb-5">Find Love and Friendship in Asia</h2>
                        <p>Use <strong>yourweb.singles</strong>  to:</p>
                        <ul class="use-yourwebsingles">
                            <li><h3>Meet and chat.</h3></li>
                            <li><h3>Search for your ideal partner.</h3></li>
                            <li><h3>Create your perfect on line profile.</h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-yourwebsingles text-center">
        <h4 class="px-3">
            We has everything you need to search and find your ideal love.
            100% Free Plans Available
        </h4>
        <div class="px-3 mt-5 d-md-none">
            <p class="mb-1">Don't have an account yet?</p>
            <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-info py-2 w-100">Create Account Now</a>
        </div>
    </div>

    <div class="feature-wrapper">
        <div class="container">
            <h5 class="text-center feature-title">Find Love & Friends Online</h5>
            <div class="row pb-5">
                <div class="col-md-4 feature text-center">
                    <img src="~/img/searchandconnect.png" />
                    <p class="px-3">Search and connect with your ideal love, easy search and chat features</p>
                </div>
                <div class="col-md-4 feature text-center">
                    <img src="~/img/managemessages.png" />
                    <p class="px-3">Manage messages, views, like and connections easily.</p>
                </div>
                <div class="col-md-4 feature text-center">
                    <img src="~/img/freeandpaid.png" />
                    <p class="px-3">Free and paid plans available for all time, no short term trial periods</p>
                </div>
            </div>
            <p class="yourwebsingles w-100 m-auto border-top pt-5 px-3 text-justify">
                <strong>yourweb.singles</strong> is a new online platform for people looking for Love in Asia. It provides all the features you need to successfully search, find and chat. For individuals searching for a new love, or even looking to find new friends yourweb.singles is a easy and safe site.
            </p>
        </div>
    </div>

</main>
