﻿main .mobile-view {
  background: #65dbdb;
  display: none; }
  main .mobile-view .create-account {
    color: #fff; }
  @media (max-width: 767px) {
    main .mobile-view {
      display: block; } }

main .background-wrapper {
  height: 620px;
  background-image: url(../img/bg/yourwebsingles-bg.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    main .background-wrapper {
      background-position: 35% bottom; } }
  main .background-wrapper nav.navbar .navbar-brand img {
    width: 220px;
    object-fit: cover; }
  main .background-wrapper #main-content .yourwebisngles-content h1.welcome {
    font-size: 1.3em;
    font-weight: 300;
    color: #456161; }
    @media (min-width: 576px) {
      main .background-wrapper #main-content .yourwebisngles-content h1.welcome {
        font-size: 1.5em; } }
  main .background-wrapper #main-content .yourwebisngles-content h2.findlove {
    width: 75%;
    line-height: 1;
    font-size: 2.4em;
    color: #336868;
    font-weight: 400; }
    @media (min-width: 576px) {
      main .background-wrapper #main-content .yourwebisngles-content h2.findlove {
        width: 100%;
        font-size: 3.5em; } }
    @media (max-width: 576px) {
      main .background-wrapper #main-content .yourwebisngles-content h2.findlove {
        width: 100%; } }
  main .background-wrapper #main-content .yourwebisngles-content p {
    color: #336868; }
  main .background-wrapper #main-content .yourwebisngles-content ul {
    list-style: none;
    padding-left: 0; }
    main .background-wrapper #main-content .yourwebisngles-content ul li {
      margin: 11px 0;
      position: relative;
      padding-left: 40px; }
      main .background-wrapper #main-content .yourwebisngles-content ul li h3 {
        font-size: 1em;
        color: #136464; }
      main .background-wrapper #main-content .yourwebisngles-content ul li::before {
        top: 0;
        left: 0;
        content: "";
        width: 28px;
        height: 28px;
        position: absolute;
        display: inline-block;
        background-size: cover;
        background-image: url(../img/heart-icon.png); }

main .about-yourwebsingles {
  background-image: url(../img/bg/yourwebsingles-bg1.jpg);
  background-position: center left;
  background-repeat: repeat-y;
  background-size: cover;
  padding: 1.8em 0; }
  main .about-yourwebsingles h4 {
    margin: 0;
    color: #064141;
    font-size: 1.4em;
    font-weight: 300; }

main .feature-wrapper {
  padding: 5em 0 7em;
  border-top: 3px solid rgba(100, 202, 201, 0.82);
  border-bottom: 3px solid rgba(100, 202, 201, 0.82); }
  main .feature-wrapper .feature-title {
    font-size: 2em;
    color: #168a8a;
    padding-bottom: 1.5em; }
  main .feature-wrapper .feature {
    /*max-width: 280px;*/ }
    main .feature-wrapper .feature img {
      width: 180px; }
    main .feature-wrapper .feature p {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 400;
      color: #0a6f6f; }
  main .feature-wrapper p.yourwebsingles {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center; }

footer .footer-links {
  padding: 5em 0;
  background-color: #2f9090; }
  footer .footer-links .container .row a {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none; }

footer .footer-socials {
  padding: 1em 0;
  background-color: #042525; }
  footer .footer-socials #yourwebsingles-footer {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 200px; }
    footer .footer-socials #yourwebsingles-footer .yws-circle {
      left: calc(50% - 40px);
      background: #662e91;
      border-radius: 50%;
      position: absolute;
      height: 80px;
      width: 80px;
      z-index: 1;
      top: -3px; }
    footer .footer-socials #yourwebsingles-footer .yws-text {
      margin: 0;
      z-index: 2;
      color: #fff;
      padding: 20px 0;
      font-size: 20px;
      position: relative;
      font-weight: 300; }
      footer .footer-socials #yourwebsingles-footer .yws-text .yws-www {
        letter-spacing: 3px;
        color: #c275fd; }
      footer .footer-socials #yourwebsingles-footer .yws-text .yws-singles {
        letter-spacing: -1px;
        color: #c275fd; }
  footer .footer-socials .social-links {
    height: 100%;
    display: block;
    padding: 10px 0; }
    footer .footer-socials .social-links a {
      text-decoration: none;
      font-size: 2.2em;
      padding: 0 14px;
      color: #fff; }
